#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
  chosen {
    zmk,kscan = &kscan0;
    zmk,physical-layout = &default_layout;
  };
};



/ {
  default_layout: default_layout {
    compatible = "zmk,physical-layout";
    display-name = "Default Layout";
    transform = <&default_transform>;
    kscan = <&kscan0>;

    keys  //                     w   h    x    y     rot    rx    ry
        = <&key_physical_attrs 100 100    0  205    1000   800    70>
        , <&key_physical_attrs 100 100  100  205    1000   800    70>
        , <&key_physical_attrs 100 100  200  105    1000   800    70>
        , <&key_physical_attrs 100 100  300  105    1000   800    70>
        , <&key_physical_attrs 100 100  400  160    1000   800    70>
        , <&key_physical_attrs 100 100  500  180    1000   800    70>
        , <&key_physical_attrs 100 100  800  180 (-1000)   600    70>
        , <&key_physical_attrs 100 100  900  160 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1000  105 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1100  105 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1200  205 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1300  205 (-1000)   600    70>
        , <&key_physical_attrs 100 100    0  305    1000   800    70>
        , <&key_physical_attrs 100 100  100  305    1000   800    70>
        , <&key_physical_attrs 100 100  200  205    1000   800    70>
        , <&key_physical_attrs 100 100  300  205    1000   800    70>
        , <&key_physical_attrs 100 100  400  260    1000   800    70>
        , <&key_physical_attrs 100 100  500  280    1000   800    70>
        , <&key_physical_attrs 100 100  800  280 (-1000)   600    70>
        , <&key_physical_attrs 100 100  900  260 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1000  205 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1100  205 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1200  305 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1300  305 (-1000)   600    70>
        , <&key_physical_attrs 100 100    0  405    1000   800    70>
        , <&key_physical_attrs 100 100  100  405    1000   800    70>
        , <&key_physical_attrs 100 100  200  305    1000   800    70>
        , <&key_physical_attrs 100 100  300  305    1000   800    70>
        , <&key_physical_attrs 100 100  400  360    1000   800    70>
        , <&key_physical_attrs 100 100  500  380    1000   800    70>
        , <&key_physical_attrs 100 100  800  380 (-1000)   600    70>
        , <&key_physical_attrs 100 100  900  360 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1000  305 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1100  305 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1200  405 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1300  405 (-1000)   600    70>
        , <&key_physical_attrs 100 100    0  505    1000   800    70>
        , <&key_physical_attrs 100 100  100  505    1000   800    70>
        , <&key_physical_attrs 100 100  200  405    1000   800    70>
        , <&key_physical_attrs 100 100  300  405    1000   800    70>
        , <&key_physical_attrs 100 100  400  460    1000   800    70>
        , <&key_physical_attrs 100 100  500  480    1000   800    70>
        , <&key_physical_attrs 100 100  800  480 (-1000)   600    70>
        , <&key_physical_attrs 100 100  900  460 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1000  405 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1100  405 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1200  505 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1300  505 (-1000)   600    70>
        , <&key_physical_attrs 100 100  200  505    1000   800    70>
        , <&key_physical_attrs 100 100  300  505    1000   800    70>
        , <&key_physical_attrs 100 100 1000  505 (-1000)   600    70>
        , <&key_physical_attrs 100 100 1100  505 (-1000)   600    70>
        , <&key_physical_attrs 100 100  400  605    1500   700   273>
        , <&key_physical_attrs 100 100  500  605    1800   650   373>
        , <&key_physical_attrs 100 100  600  605    2200   620   453>
        , <&key_physical_attrs 100 100  700  605 (-2200)   780   453>
        , <&key_physical_attrs 100 100  800  605 (-1800)   750   373>
        , <&key_physical_attrs 100 100  900  605 (-1500)   700   273>
        , <&key_physical_attrs 100 100  500  715    1500   670    73>
        , <&key_physical_attrs 100 100  600  715    2000   620   273>
        , <&key_physical_attrs 100 100  700  715 (-2000)   780   273>
        , <&key_physical_attrs 100 100  800  715 (-1500)   730    73>
        ;
  };
};



/ {
  kscan0: kscan0 {
      compatible = "zmk,kscan-gpio-matrix";
      diode-direction = "col2row";
      wakeup-source;

      col-gpios
          = <&gpio0 29 GPIO_ACTIVE_HIGH> //N
          , <&gpio0 2  GPIO_ACTIVE_HIGH> //M
          , <&gpio1 15 GPIO_ACTIVE_HIGH> //L
          , <&gpio1 13 GPIO_ACTIVE_HIGH> //K
          , <&gpio1 11 GPIO_ACTIVE_HIGH> //J
          , <&gpio0 10 GPIO_ACTIVE_HIGH> //I
          , <&gpio0 9  GPIO_ACTIVE_HIGH> //H
          , <&gpio1 6  GPIO_ACTIVE_HIGH> //G
          , <&gpio1 4  GPIO_ACTIVE_HIGH> //F
          , <&gpio0 11 GPIO_ACTIVE_HIGH> //E
          , <&gpio1 0  GPIO_ACTIVE_HIGH> //D
          , <&gpio0 24 GPIO_ACTIVE_HIGH> //C
          , <&gpio0 22 GPIO_ACTIVE_HIGH> //B
          , <&gpio0 20 GPIO_ACTIVE_HIGH> //A
          ;

      row-gpios
          = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //1
          , <&gpio0 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //2
          , <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //3
          , <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //4
          , <&gpio1 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //5
          ;
  };
};


/ {
  default_transform: keymap_transform0 {
      compatible = "zmk,matrix-transform";
      columns = <14>; // Length of the "col-gpios" array
      rows = <5>; // Length of the "row-gpios" array
      // (row, column)
      map = <
          RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                     RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13)
          RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                     RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13)
          RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                     RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13)
          RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                     RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13)
                          RC(4,2) RC(4,3)                                                     RC(4,10) RC(4,11)
                                          RC(2,6) RC(1,6) RC(0,6)     RC(0,7) RC(1,7) RC(2,7)
                                          RC(4,6) RC(3,6)                     RC(3,7) RC(4,7)
      >;
  };
};